
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Organization Chart Plugin</title>
  <link rel="icon" href="img/logo.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/orgchart/2.1.9/css/jquery.orgchart.min.css">
  <style>
    .content .primary {
      font-weight: bold;
    }
    .orgchart .node .title {
      min-width: 130px;
      width: auto;
    }
    .orgchart .node .content {
      height: auto;
    }

    .orgchart {
      font-family: sans-serif;
    }

    .orgchart table {
      margin: 0 auto;
    }

    .orgchart .node .content {
      white-space: normal;
    }
  </style>
</head>
<body>
  <div id="chart-container"></div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.slim.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/orgchart/2.1.9/js/jquery.orgchart.min.js"></script>
  <script type="text/javascript">
    $(function() {

    const datasource =
    ~~DATA~~
    ;

    const nodeTemplate = function(data) {
      let content = `
        ${ data.hideName !== true ? `<div class="title">${data.name}</div>` : '' }
        <div class="content"><div class="primary">${data.titles[0]}</div>`;
      if (data.titles.length > 1) content += `<div>${data.titles.slice(1).join(', ')}</div>`;
      content += `</div>`;
      return content;
    }

    $('#chart-container').orgchart({
      'data' : datasource,
      'nodeTemplate': nodeTemplate,
      'verticalLevel': 4
    });

  });
  </script>
  </body>
</html>
