
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Organization Chart Plugin</title>
  <link rel="icon" href="img/logo.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/orgchart/3.1.1/css/jquery.orgchart.min.css" integrity="sha512-bCaZ8dJsDR+slK3QXmhjnPDREpFaClf3mihutFGH+RxkAcquLyd9iwewxWQuWuP5rumVRl7iGbSDuiTvjH1kLw==" crossorigin="anonymous" />
  <style>
    #chart-container {
      text-align: center;
    }

    .content .primary {
      font-weight: bold;
    }
    .orgchart .node .title {
      min-width: 130px;
      width: auto;
      background-color: rgba(12, 83, 255, 0.8);
    }
    .orgchart .node .title.acting {
      background-color: rgba(217,83,79,.8);
    }

    .orgchart .node .content {
      height: auto;
      border-color: rgba(12, 83, 255, 0.8);
    }
    .orgchart .node .content.acting {
      border-color: rgba(217,83,79,.8);
      background-color: rgba(217,83,79,.2);
    }

    .orgchart {
      font-family: sans-serif;
    }

    .orgchart table {
      margin: 0 auto;
    }

    .orgchart .node .content {
      white-space: normal;
    }

    .orgchart .acting-tag {
      font-style: italic;
    }
  </style>
</head>
<body>
  <div id="chart-container"></div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/orgchart/3.1.1/js/jquery.orgchart.min.js" integrity="sha512-alnBKIRc2t6LkXj07dy2CLCByKoMYf2eQ5hLpDmjoqO44d3JF8LSM4PptrgvohTQT0LzKdRasI/wgLN0ONNgmA==" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(function() {

    const datasource =
    ~~DATA~~
    ;

    const nodeTemplate = function(data) {
      let content = `
        ${ data.hideName !== true ? `<div class="title${data.acting ? ' acting' : ''}">${data.name}${data.acting ? '<span class="acting-tag">(acting)</span>' : ''}</div>` : '' }
        <div class="content${data.acting ? ' acting' : ''}"><div class="primary">${data.titles[0]}</div>`;
      if (data.titles.length > 1) content += `<div>${data.titles.slice(1).join(', ')}</div>`;
      content += `</div>`;
      return content;
    }

    $('#chart-container').orgchart({
      'data' : datasource,
      'nodeTemplate': nodeTemplate,
      'verticalLevel': 5
    });

  });
  </script>
  </body>
</html>
